*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #EEE; 
}
.container {
    background-color: burlywood;
    max-width: 1000px;
    margin: 0 auto;
}

header{
    
    padding: 20px;
}

#img1{
    height: 120px;
    width: 100px;
    border: 5px solid white;
    border-radius: 100%;
    float: left;
}
.heading-bio{
    float: left;
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
}
h1,h2,h3,h4,h5,h6{
    color: #567;
    font-family: 'Courier New', Courier, monospace;
}
.contract{
    float: right;
    padding: 30px;
}
.contract a{
    text-decoration: none;
    color: #567;
}

.contract a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: tomato;
}
.clear-div{
    clear: both;
}
hr{
    border: 3px solid black;
    width: 97%;
    margin: 15px auto;
    border-bottom: none;
}

/* ---------------------- 
 Personal Section Start
-----------------------*/ 

.personal-section{

}
.content {
    margin-bottom: 30px;
}
.left-div{
    width: 30%;
    float: left;
}
.right-div{
   width: 70%; 
   float: right;
}
.common-hr{
    /* padding-top: 10px; */
    border: 1px solid black;
    border-bottom: 0;
    width: 100%;
    margin: 20px auto;
}
.edu-div-left{
    float: left;
    width: 45%;
}
.edu-div-right{
    float: right;
    width: 45%;
}

footer{
    padding: 0;
    margin: 0;
}

.footer-section{
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
}